@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

@font-face {font-family:"Code-Light";src:url("../fonts/CODE_Light.eot?") 
format("eot"),url("../fonts/CODE_Light.woff") format("woff"),url("../fonts/CODE_Light.ttf") 
format("truetype"),url("../fonts/CODE_Light.svg#Code-Light") format("svg");
font-weight:normal;font-style:normal;}

@font-face {font-family:"Code-Bold";src:url("../fonts/CODE_Bold.eot?") format("eot"),
url("../fonts/CODE_Bold.woff") format("woff"),url("../fonts/CODE_Bold.ttf") format("truetype"),
url("../fonts/CODE_Bold.svg#Code-Bold") format("svg");font-weight:normal;
font-style:normal;}

img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100% }
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #786b7a;
}
h5{
    font-size: 16px;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid }

.hero-area{background-image: url(../img/bg.jpg);}
.product-bg-1{background-image: url(../img/model-1.png);}
.product-bg-2{background-image: url(../img/model-2.png);}
.product-bg-3{background-image: url(../img/model-3.png);}
.product-bg-4{background-image: url(../img/model-4.png);}
.product-bg-5{background-image: url(../img/model-5.png);}
.product-bg-6{background-image: url(../img/model-6.png);}
.product-bg-7{background-image: url(../img/model-7.png);}
.product-bg-8{background-image: url(../img/model-8.png);}
.product-bg-9{background-image: url(../img/model-9.png);}



.header-top a {
    font-family: 'Karla', sans-serif;
    color: #5b3f61;
    text-transform:uppercase;
    font-weight:700;
    font-size:14px;
    padding:15px;
    display:inline-block
}

.header-left ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-left ul li {
    display: inline-block;
}
.header-top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}

.menu-triger {
    display: none;
}

.search-trigger i {
    padding-left: 10px;
}

.hero-area {
    background-color: #ECD9D2;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}
.slide-table {
    display: table;
    width: 100%;
    height: 100%;
}
.hero-slider,.single-slider {
    height: 100%;
}

.slide-cell {
    display: table-cell;
    vertical-align: middle;
}

.single-slider img {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 700px;
    margin-left: -350px;
}

.slide-content h1 {
    font-family: Code-Light,sans-serif;
    font-weight: normal;
    color: #e84f88;
    font-size: 120px;
    line-height: 120px;
}

.slide-content h1 strong {
    font-family: Code-Bold,sans-serif;
    font-weight: normal;
}

.slide-content h1.dfrnt-color {
    color: #6db0c6;
}

.slide-content {
    margin-left: 15%;
    position: relative;
    z-index: 9;
}

.colored-box {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

.colored-box li {
    display: inline-block;
    width: 30%;
    float: left;
    background-color: #EBF2E7;
}

.colored-box li a {
    color: #5b3f61;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    font-family: Code-Light;
    padding: 160px 15px 30px;
    display: inline-block;
}

.colored-box li:nth-child(1) {
    text-align: right;
}

.colored-box li:nth-child(2) a {font-family: Code-Bold,sans-serif;color: #E74F87;font-weight: normal;}

.colored-box li:nth-child(2) {
    background-color: #F0E4E4;
    width: 20%;
    text-align: center;
}

.colored-box li:nth-child(3) {
    width: 20%;
    background-color: #F5F2E5;
    text-align: center;
}
.colored-box li:nth-child(4) {
    background-color: #EBF3F4;
}