@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100% }
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #7B7B7B;
}
a:hover { text-decoration: none }

.section-padding {
    padding: 50px 0px;
}

.quote-image {
    text-align: center;
}

.blue-quote-form {
    background-color: #19B5FE;
    margin-top: -85px;
    padding: 30px 50px;
}

.blue-quote-form h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
    font-size: 26px;
}

.blue-quote-form h2:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #fff;
    content: "";
    margin-left: -30px;
}

.blue-quote-form h2:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    content: "";
    border-radius: 50%;
    margin-left: -7px;
    margin-bottom: -6px;
}

.blue-quote-form input,.blue-quote-form textarea {
    background: none;
    border: none;
    width: 100%;
    color: #fff;
    padding: 20px;
    padding-left: 0px;
}

.blue-quote-form input, .blue-quote-form textarea {
    border-bottom: 2px solid #fff;
}

.blue-quote-form input::placeholder, .blue-quote-form textarea::placeholder {
    color: #fff;
}

.blue-quote-form textarea {
    height: 70px;
    margin-top: 20px;
}

.blue-quote-form input:focus, .blue-quote-form textarea:focus {
    outline: 0px;
}

button[type="submit"] {
    background: #fff;
    border: none;
    padding: 10px 23px;
    color: #19B5FE;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
}