@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,400i,500,500i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i');
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proza Libre', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100% }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7B7B7B;
}
h5{
    font-size: 16px;
}
a:hover { text-decoration: none }


.section-padding{
    padding:100px 0px;
}


@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,400i,500,500i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i');
a:focus,input:focus,textarea:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proza Libre', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100% }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7B7B7B;
}
h5{
    font-size: 16px;
}
a:hover { text-decoration: none }


.section-padding{
    padding:100px 0px;
}
.white-box {
    box-shadow:  0px 0px 5px #F7F7F7;
    padding: 40px;
}

input[type="email"], input[type="text"], input[type="password"], input[type="tel"], input[type="url"], textarea {
    border: none;
    background-color:  #F8F8F8;
    padding:  15px;
    margin-bottom: 30px;
    color: #333;
}

input[type="submit"] {
    border:  none;
    background-color:  #4EAEFC;
    color: #fff;
    padding:  15px 20px;
    border-radius:  3px;
}

.contact-form input,.contact-form textarea {
    width: 100%;
}

.contact-form input[type="submit"] {
    width: auto;
}

.contact-form textarea {
    height: 130px;
}

.white-box h2,.colored-box h2 {
    font-weight:  400;
    font-size:  24px;
    margin-bottom: 40px;
}

.colored-box {
    background-color:  #4EAEFC;
    padding: 40px;
    color: #fff;
    min-height: 537px;
}

.colored-box h2, .colored-box a {
    color: #fff;
}

.contact-info {
    position:  relative;
    padding-left:  40px;
    margin-bottom: 40px;
    opacity: 0.9;
    line-height: 1.7;
}

.contact-info i.fa {
    position:  absolute;
    left:  0;
    top: 5px;
    font-size: 20px;
    /* opacity: 1; */
}

.colored-box h2 {
    opacity: 0.9;
}

.social-link a {
    display:  inline-block;
    height:  40px;
    width:  40px;
    background-color:  #fff;
    color:  #333;
    text-align:  center;
    line-height:  40px;
    border-radius:  50px;
    margin-right: 10px;
    font-size: 18px;
    box-shadow: 0px 0px 5px #396;
    transition: 0.3s;
}

.social-link a:hover {
    color:  #4FAEFA;
    box-shadow: 0px 0px 0px #fff;
}