@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
a:focus,input:focus,textarea:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100%; }
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333;
}
a:hover,a,a:focus { text-decoration: none }


.section-padding{
    padding:100px 0px;
}
.main-content{background-image: url(../img/radio.jpeg);}
.main-content {
    position:  relative;
    background-position:  center center;
    background-size:  cover;
    z-index: 1;
    height: 100%;
}

.main-content:before {
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    height:  100%;
    background-color:  #fff;
    content:  "";
    opacity:  0.6;
    z-index: -1;
}

.logo img {
    max-width: 40px;
    margin-right: 5px;
}

.logo a {color:  #EF4043;}

.logo h1 {
    font-size: 22px;
    margin-bottom: 0;
}

.main-menu ul {
    list-style:  none;
    padding:  0;
    margin: 0;
}

.main-menu ul li {
    display:  inline-block;
}

.main-menu ul li a {
    color:  #333;
    text-transform: uppercase;
    padding: 7px 18px;
    display: inline-block;
    border-radius:  50px;
    font-weight: 700;
}

.main-menu ul li.bordered a {
    border: 1px solid;
    color: #EF4043;
}
.header-area {
    padding: 20px 0px;
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    z-index: 9;
}

.footer-area {
    background-color:  #333;
    padding:  15px 0px;
    position:  absolute;
    left: 0;
    bottom:  0;
    width:  100%;
}

.footer-area ,.footer-area a {
    color:  #ccc;
    font-size: 90%;
}

.footer-area ul {
    list-style:  none;
    padding:  0;
    margin: 0;
}

.footer-area ul li {
    display: inline-block;
    padding-left: 25px;
}

.hero-area-table {
    display:  table;
    width:  100%;
    height: 100%;
}

.hero-area-table-cell {
    display:  table-cell;
    vertical-align: middle;
}

.hero-text h1 {
    font-size:  50px;
    font-weight: 800;
}

.hero-text {
    font-size: 20px;
}

.subcription-form {
    max-width: 500px;
    margin-top: 80px;
}

.subcription-form p {
    margin-bottom: 5px;
}

.subcription-form input[type="email"] {
    border:  none;
    padding:  10px;
    width: 60%;
    border-radius: 5px;
    margin-right: 2%;
}

.subcription-form input[type="submit"] {
    background-color:  #EF4070;
    color:  #fff;
    padding:  10px;
    border:  none;
    border-radius:  5px;
    width: 35%;
    text-transform:  uppercase;
    font-weight: 700;
}

.social-link a {
    color:  #333;
    font-size:  18px;
    display:  inline-block;
    padding: 5px;
}

.social-link {
    margin-top: 5px;
}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.subcription-form {
    margin-top: 40px;
}

}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

    .main-content {
    height: auto;
}

.header-area, .main-menu.text-right ul {
    text-align: center;
}

.main-menu.text-right {
    text-align: center;
}

.main-menu.text-right ul {
    text-align: center;
}

.footer-area {
    position: relative;
    text-align: center;
}

.footer-area ul {
    text-align:  center;
    margin-top: 10px;
}

.footer-area ul li {
    padding: 0px 10px;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text {
    margin-top: 130px;
}

.subcription-form input[type="submit"] {width: 45%;}

.subcription-form input[type="email"] {
    width: 50%;
}

.subcription-form input {
    font-size: 13px;
}
.subcription-form {
    margin-bottom: 40px;
}

}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 


}