@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,400i,500,500i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i');
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proza Libre', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100% }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7B7B7B;
}
h5{
    font-size: 16px;
}
a:hover { text-decoration: none }


.section-padding{
    padding:50px 0px;
}
.section-title h2 span {
    color: #26A65B;
}

.single-pricing {
    border: 2px solid #DDE3E0;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.single-pricing h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.s-icon {
    margin: 20px;
}

.s-icon i {
    font-size: 40px;
}

.p-service-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.p-service-list {
    margin: 15px 0px 15px 10px;
}

.price h3 {
    text-transform: none;
}

.order-btn {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #26A65B;
    border-radius: 25px;
    color: #333;
    margin-bottom: 10px;
}

.p-service-list ul li{position: relative;padding-bottom: 5px;}
.p-service-list ul li:before {
    font-family: fontAwesome;
    color: #26A65B;
    content: "\f00c";
    padding-right: 10px;
}
.p-service-list ul li.off:before {
    content: "\f00d";
    color:#ED1B1B;
}


.single-pricing:hover {
    box-shadow: 0px 0px 40px #f1f1f1;
    border-color: #26A65B;
}

.order-btn:hover {
    background-color: #26A65B;
    color: #fff;
}

.single-pricing:hover
 .s-icon i {
    color: #1C7541;
}

.single-pricing:hover
 .s-icon img {
    opacity: 0.7;
}

.p-service-list ul li:hover {
    padding-left: 5px;
}

.p-service-list ul li,.single-pricing,.s-icon img,.order-btn{
    transition: 0.3s;
} 
