body {
    font-family: Arial;
    background:#eee;
}

.barfiller {
    width:100%;
    height:12px;
    background: #333;
    border:1px solid #ccc;
    position:relative;
    margin-bottom:20px;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background: tomato !important;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    margin-top: -50px;
    padding:2px 4px;
    font-size: 26px;
    color:#fff;
    left: auto !important;
    position:absolute;
    z-index:2;
    font-weight: 700;
    right: 0;
} 
