@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,400i,500,500i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i');
a:focus,input:focus,textarea:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proza Libre', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100%; background-color: #EEEEF0;}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ABABAC;
}
h5{
    font-size: 16px;
}
a:hover { text-decoration: none }


.section-padding{
    padding:100px 0px;
}

.section-padding.full-height{
    padding:0px 0px;
}

.section-bg-1{background-image: url(../img/man.jpg);}
.section-bg-2{background-image: url(../img/man-2.jpg);}
.section-bg-3{background-image: url(../img/man.jpg);}

html,body,.full-height {
    height: 100%;
}
body{max-height: 100%}
.section-table {
    display:  table;
    width:  100%;
    height: 100%;
}

.section-tablecell {
    display:  table-cell;
    vertical-align: middle;
}

.section-bg {
    background-size: cover;
    background-position:  center center;
    position:  relative;
    background-attachment: fixed;
}

.overlay:after,.sinlge-promo-box:after {
    position: absolute;
    left:  0;
    top: 0;
    content:  "";
    width:  100%;
    height:  100%;
    background-color:  #333;
    z-index:  -1;
    opacity: 0.5;
}

.section-bg,.section-bg h3,.section-bg a {
    color:  #fff;
}

.overlay {
    position:  relative;
    z-index: 1;
}

.sinlge-promo-box {
    position:  relative;
    text-align: center;
    padding: 35px;
}

.sinlge-promo-box i.fa {
    font-size:  40px;
    margin-bottom: 25px;
}

a.prmo-btn {
    background-color:  pink;
    display:  inline-block;
    padding: 5px 18px;
    border-radius:  50px;
    color: #333;
    font-weight: 700;
}

.video-play-btn {
    display: inline-block;
    background-color:  green;
    height: 80px;
    width: 80px;
    text-align:  center;
    line-height:  80px;
    font-size: 22px;
    border-radius:  50px;
    transition: 0.3s;
}

.video-box h2 {
    color: #fff;
}