@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
a:focus,input:focus,textarea:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100%; }
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #888787;}
a:hover,a,a:focus { text-decoration: none }
.section-title {
    text-align:  center;
    margin-bottom: 150px;
}

.feature-section {
    padding: 100px 0px 0px;
}

.section-title i.fa {
    color:  green;
    font-size: 50px;
}

.single-service {
    text-align: left;
}

.feature-wrapp {
    position: relative;
    padding-bottom: 130px;
}

img.absolute-mobile-photo {
    position:  absolute;
    right:  0;
    bottom: 0;
}

.main-menu ul {
    list-style:  none;
    padding:  0;
    margin: 0;
}

.main-menu ul li {
    display:  inline-block;
    position: relative;
}

.main-menu ul li a {
    padding:  20px;
    display:  inline-block;
    color: green;
}

.main-menu {
    background-color: #ccc;
    z-index: 999;
    transition: 0.3s;
}
.main-menu.sticky {
    position:  fixed;
    width: 100%;
    background-color: #ddd;
    padding: 5px;
}

.main-menu ul ul {
    position:  absolute;
    left:  0;
    top: 97px;
    background-color:  #333;
    width:  200px;
    z-index: -1;
    transition: 0.3s;
    opacity:  0;
    visibility:  hidden;
}

.main-menu ul ul li {
    display:  block;
}

.main-menu ul ul li a {
    display:  block;
    padding: 18px 15px;
    transition: 0.3s;
}

.main-menu ul ul li a:hover {
    color:  #fff;
    background-color: #666;
}

.main-menu ul li:hover ul {
    opacity:  1;
    visibility:  visible;
    z-index:  99;
    top: 67px;
}

.main-menu ul li.mega-menu {
    position: static;
}

.mega-menu-wrapp {
    position:  absolute;
    background-color: #ccc;
    padding: 20px;
    z-index:  -1;
    opacity:  0;
    visibility: hidden;
    transition: 0.3s;
    top: 100px;
}

.main-menu ul li.mega-menu  ul {
    opacity:  1;
    visibility:  visible;
    z-index: 999;
    top: 0;
    position: relative;
    background-color: transparent;
}

.main-menu ul li.mega-menu ul li a {
    padding: 10px 7px 10px;
}

.main-menu ul li:hover > .mega-menu-wrapp {
    visibility: visible;
    z-index:  99;
    opacity:  1;
    top: 66px;
}

.footer {
    background: #DCDCDC;
    padding: 50px 0px;
    position: fixed;
    width:  100%;
    z-index: 1;
    bottom: 0;
}

.site-wrapp {
    position:  relative;
    z-index:  9;
    background-color: #ffff;
    margin-bottom: 127px;
}