@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
html,
body { height: 100% }
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #7B7B7B;
}
a:hover { text-decoration: none }

.section-padding {
    padding: 100px 0px;
}

.blog-img-1{background-image: url(../img/img-1.jpg);}
.blog-img-2{background-image: url(../img/2.jpg);}
.blog-img-3{background-image: url(../img/3.jpg);}

.section-title {
    padding-bottom: 50px;
}

.section-title h2 {
    font-size: 40px;
    position: relative;
    padding-bottom: 30px;
}

.section-title h2:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 3px;
    background: #FF8F17;
    content: "";
    margin-left: -30px;
    z-index: 1;
}
.section-title h2:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 20px;
    height: 3px;
    background: #8F8F89;
    content: "";
    margin-left: -10px;
    z-index: 2;
}

.blog-box-img {
    height: 200px;
    width: 100%;
    background-color: #ddd;
    background-size: cover;
    background-position: center center;
    border: 1px solid #FF8F17;
}
.blog-box-img {
    border-bottom: 0px solid #fff;
}

.blog-box-content {
    padding: 15px;
    border: 1px solid #8F8F89;
    border-top: 0px solid #fff;
    transition: 0.3s;
}

.blog-box-content h3 {
    font-size: 20px;
}

.blog-meta i {
    color: #FF8F17;
    margin-right: 5px;
}
.blog-meta  {
    font-size: 14px;
}

.blog-meta p span {
    margin-left: 20px;
}

.blog-box-content h3 {
    margin-top: 25px;
}

.read-more-btn {
    display: inline-block;
    background-color: #FF8F17;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    margin: 10px 0px;
    font-weight: 700;
    transition: 0.3s;
}

.blog-box-content:hover {
    border: 1px solid #FF8F17;
    border-top: 0px solid #fff;
}

.read-more-btn:hover {
    background-color: #333;
    color: #fff;
}